*.pyc
*.*~
MANIFEST
dist/
build/
doc/html/
.DS_Store
ldtp/Java/lib/
ldtp/Java/doc/
ldtp/Java/bin/com/
ldtp/Java/Ldtp.jar
doc/ldtp-tutorial.pdf
/Example/C#/TestLdtpClientNotepadPlus/TestLdtpClient.suo
/Example/C#/TestLdtpClientNotepadPlus/TestLdtpClient.v11.suo
/Example/C#/TestLdtpClientNotepadPlus/TestLdtpClient/bin/
/Example/C#/TestLdtpClientNotepadPlus/TestLdtpClient/obj/
